* { box-sizing: border-box; }

html { font-size: 62.5%; }

html, body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', Arial;
}
