@import "./base.css";
@import "../../css-components/forms.css";
@import "../../css-components/button.css";
@import "../../css-components/map.css";
@import "../../css-components/upload.css";
@import "../../css-components/image.css";

.container {
  max-width: 100%;
  width: 970px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.main { margin-bottom: 3rem; }

.app-header {
  background: #DDD;
  padding: 1.5rem;
  box-shadow: 0 .2rem 0 0 #CCC;
  margin-bottom: 3rem;
}

.app-header__title { font-size: 2.2rem; }
