$pill-button-color: #FFF !default;
$pill-button-bg-color: #00c7b0 !default;
$pill-button-disabled-color: #cccacb !default;
$pill-button-disabled-bg-color: #f5f5f5 !default;

$pill-button-hollow-color: #5bdede !default;
$pill-button-hollow-border-color: #a3a3a3 !default;

@keyframes uil-ring-anim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

%pill-button-base {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial;
  border-radius: 9999rem;
  padding: 1.5rem;
  line-height: 1;
  font-size: 1.4rem;
  transition: all 0.15s;
  display: block;
  width: 100%;

  &:hover {
    transform: scale(.95);
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: 0;
    opacity: .7;
  }

  &.-disabled,
  &[disabled] { cursor: not-allowed; }

  &.-loading {
    color: transparent;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 3rem;
      height: 3rem;
      top: 50%;
      left: 50%;
      margin: -1.5rem 0 0 -1.5rem;
      border-radius: 9999rem;
      box-shadow: 0 0.2rem 0 0 #FFF;
      animation: uil-ring-anim 1s linear infinite;
    }
  }
}

.pill-button {
  @extend %pill-button-base;
  background: $pill-button-bg-color;
  color: $pill-button-color;

  &.-disabled,
  &[disabled] {
    background: $pill-button-disabled-bg-color;
    color: $pill-button-disabled-color;
  }
}

.pill-button-hollow {
  @extend %pill-button-base;
  box-shadow: inset 0 0 0 0.1rem $pill-button-hollow-border-color;
  color: $pill-button-hollow-color;
}
