$form-field-input-height: 5rem !default;
$form-field-input-color: #bec3d4 !default;
$form-field-error-input-color: #e86a64 !default;
$form-field-valid-input-color: #6fded1 !default;

%form-field__text {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Roboto', Arial;
  color: $form-field-input-color;
  line-height: 1;
  display: block;
  width: 100%;
}

.form {
  transition: opacity .15s;
  opacity: 1;

  &.-loading { opacity: .7 }
}

.form-field {
  position: relative;
  margin-bottom: 1.2rem;
  display: block;
  width: 100%;
}

.form-field__label {
  @extend %form-field__text;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.6rem;
  cursor: pointer;
  z-index: 10;
  transition: all .15s;
  height: 100%;
}

.form-field__input {
  @extend %form-field__text;
  position: relative;
  display: block;
  background: none;
  border: 0;
  border-bottom: 0.2rem solid $form-field-input-color;
  height: $form-field-input-height;
  padding: 1.6rem 0 1.2rem;
  z-index: 5;

  &:focus { outline: none; }
}

.form-field__input:focus + .form-field__label,
.form-field__input:valid + .form-field__label {
  padding: 0;
  font-size: 1.2rem;
}

.form-field.-error {
  .form-field__label,
  .form-field__input { color: $form-field-error-input-color; }

  .form-field__input { border-bottom-color: $form-field-error-input-color; }
}

.form-field.-valid {
  .form-field__label,
  .form-field__input { color: $form-field-valid-input-color; }

  .form-field__input { border-bottom-color: $form-field-valid-input-color; }
}
