.circled-image {
  position: relative;
  border-radius: 999rem;
  overflow: hidden;
  border: .3rem solid #CCC;
  margin: 0 auto 1rem;
  display: flex;
  width: 100%;
  max-width: 30%;

  &.-error { border-color: #e86a64; }

  &.-valid { border-color: #6fded1; }
}

.circled-image__wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.circled-image__image {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &[src=""]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url('https://conferencecloud-assets.s3.amazonaws.com/default_avatar.png');
    background-size: cover;
  }
}
